@mixin novecento-options {
  font-display: swap;
  font-feature-settings: "case" 1, "zero" 1;
}

@mixin novecento-font {
  font-family: "Novecento Sans Wide", var(--kbin-body-font-family);
  text-transform: uppercase;
}

@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('../../fonts/novecento/transfont/Novecentosanswide-Light.woff2') format('woff2'),
         url('../../fonts/novecento/transfont/Novecentosanswide-Light.woff') format('woff'),
         url('../../fonts/novecento/desktop/Novecentosanswide-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    @include novecento-options;
}

@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('../../fonts/novecento/transfont/Novecentosanswide-Book.woff2') format('woff2'),
         url('../../fonts/novecento/transfont/Novecentosanswide-Book.woff') format('woff'),
         url('../../fonts/novecento/desktop/Novecentosanswide-Book.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    @include novecento-options;
}

@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('../../fonts/novecento/transfont/Novecentosanswide-Normal.woff2') format('woff2'),
         url('../../fonts/novecento/transfont/Novecentosanswide-Normal.woff') format('woff'),
         url('../../fonts/novecento/desktop/Novecentosanswide-Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    @include novecento-options;
}

@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('../../fonts/novecento/transfont/Novecentosanswide-Medium.woff2') format('woff2'),
         url('../../fonts/novecento/transfont/Novecentosanswide-Medium.woff') format('woff'),
         url('../../fonts/novecento/desktop/Novecentosanswide-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    @include novecento-options;
}

@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('../../fonts/novecento/transfont/Novecentosanswide-DemiBold.woff2') format('woff2'),
         url('../../fonts/novecento/transfont/Novecentosanswide-DemiBold.woff') format('woff'),
         url('../../fonts/novecento/desktop/Novecentosanswide-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    @include novecento-options;
}

@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('../../fonts/novecento/transfont/Novecentosanswide-Bold.woff2') format('woff2'),
         url('../../fonts/novecento/transfont/Novecentosanswide-Bold.woff') format('woff'),
         url('../../fonts/novecento/desktop/Novecentosanswide-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    @include novecento-options;
}
