.emoji-columns {
  font-size: .9rem;

  ul {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    li {
      list-style: none;
      position: relative;
    }
  }
}

.emoji-preview {
  display: flex;
  align-items: center;
  gap: .5rem;
  height: 3rem;

  &__icon {
    .emoji {
      height: 2rem;
    }
  }

  &__info {
    small {
      padding: .2rem .4rem;
      color: var(--kbin-text-muted-color);
      font-size: .75rem;
    }

    .shortcode {
      margin: 0;
      user-select: all;
      font-size: .8rem;
    }
  }
}
