.emoji-columns {
  font-size: .9rem;

  ul {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    li {
      list-style: none;
      position: relative;
    }
  }
}

.emoji-preview {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  padding: .25rem;

  background: var(--kbin-bg-nth);
  border: var(--kbin-section-border);

  &__icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .emoji {
      height: 2rem;
      max-width: 2rem;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &__info {
    small {
      padding: .2rem .4rem;
      color: var(--kbin-text-muted-color);
      font-size: .75rem;
    }

    .shortcode {
      margin: 0;
      user-select: all;
      font-size: .8rem;

      code {
        overflow-wrap: anywhere;
      }
    }
  }

  &__actions {
    display: flex;
    gap: .25rem;
    margin: 0 .25rem;

    > * {
      padding: .25rem;
    }
  }
}
