@import 'fonts/novecento';

button, select {
    font-family: inherit;
}

#header {
  @include novecento-font;
  font-weight: 500;

  .brand, {
    font-weight: 500;
  }

  .user-name {
    height: 1rem;
    font-weight: 500;
  }

  .dropdown__menu {
    text-transform: none;
    font-family: var(--kbin-body-font-family);
  }
}

#sidebar {
  .section {
    h1, h2, h3, h4, h5, h6 {
      @include novecento-font;
      font-weight: 600;
    }
  }

  .intro .container h3,
  .kbin-promo h4 {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.entry--single header {
  @include novecento-font;
}

#footer section h5 {
  @include novecento-font;
  font-weight: 600;
}
